@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  outline: none;
}

section {
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 1rem;
  font-weight: 900;
}

img {
  width: 340px;
  height: 175px;
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .image-header {
  background: url(images/ohmyfood.png) center/cover;
  width: 174px;
  height: 30px;
  margin-top: 5px;
}

/********************************************* SECTION 1 *****************************/
.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.section-1 .position {
  background-color: #eaeaea;
  height: 50px;
  padding-left: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: solid 2px #d8d8d8;
}

.section-1 .position i {
  padding-right: 12px;
}

.section-1 .position input.positionlocal_type {
  background-color: #eaeaea;
  border: none;
  font-size: 18px;
  width: 160px;
  padding: 7px;
}

.section-1 .position input::-webkit-input-placeholder {
  color: black;
}

.section-1 .position input:-ms-input-placeholder {
  color: black;
}

.section-1 .position input::-ms-input-placeholder {
  color: black;
}

.section-1 .position input::placeholder {
  color: black;
}

.section-1 .position input:focus {
  border: 2px solid #9356DC;
  background-color: #eaeaea;
}

.section-1 .reserv {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 290px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 .reserv h1 {
  padding: 0 70px 20px 70px;
  text-align: center;
}

.section-1 .reserv p {
  padding: 0 30px 30px 30px;
  text-align: center;
}

.section-1 .reserv .btn {
  text-decoration: none;
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  border-radius: 30px;
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-shadow: 3px 5px 6px #dadada;
          box-shadow: 3px 5px 6px #dadada;
}

.section-1 .reserv .btn:hover {
  background: #ff83dd;
  -webkit-box-shadow: 6px 8px 8px #b4b4b4;
          box-shadow: 6px 8px 8px #b4b4b4;
}

/************************************** SECTION 2 *****************************/
.section-2 {
  height: 410px;
}

.section-2 h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.section-2 .fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 290px;
  padding-left: 10px;
}

.section-2 .fonction a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 315px;
  height: 75px;
  background-color: #f6f6f6;
  border-radius: 20px;
  -webkit-box-shadow: 3px 8px 6px #e6e6e696;
          box-shadow: 3px 8px 6px #e6e6e696;
}

.section-2 .fonction a:hover {
  background-color: #f5edff;
}

.section-2 .fonction a:hover i {
  color: #9356DC;
}

.section-2 .fonction i {
  padding: 0 30px;
  color: grey;
  width: 70px;
}

.num1, .num2, .num3 {
  position: relative;
}

.num1 i {
  font-size: large;
}

.num1 p, .num2 p, .num3 p {
  border: 1px solid #9356DC;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: absolute;
  top: 25px;
  left: -12px;
}

/****************************Section 3 *************************/
.section-3 {
  height: 1300px;
  background-color: #f6f6f6;
}

.section-3 h1 {
  padding: 55px 0 25px 0;
}

.section-3 a {
  color: black;
}

.section-3 figure {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 8px #e6e6e6;
          box-shadow: 2px 2px 8px #e6e6e6;
  position: relative;
}

.section-3 figure .new {
  position: absolute;
  background-color: #99E2D0;
  top: 20px;
  right: 20px;
  width: 80px;
  height: 30px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #008766;
  border-radius: 2px;
}

.section-3 img {
  width: 335px;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-3 figcaption h2 {
  padding: 15px 15px 10px;
}

.section-3 figcaption p {
  padding: 0 0 20px 15px;
}

/***************************FOOTER************************ */
footer {
  height: 240px;
  background-color: #353535;
  padding: 0 25px;
  color: white;
}

footer h3 {
  padding: 25px 0;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 400;
}

footer i {
  padding-right: 10px;
  width: 22px;
}

footer li {
  padding-bottom: 15px;
}

footer a {
  color: white;
}

footer .fa-hands-helping {
  font-size: small;
}

/*************************************** MENUS ********** *********************/
.imageback1 {
  background: url(images/jay-wennington-N_Y88TWmGwA-unsplash.jpg) center/cover;
  width: 100%;
  height: 260px;
}

.imageback2 {
  background: url(images/stil-u2Lp8tXIcjw-unsplash.jpg) center/cover; 
  width: 100%;
  height: 260px;
}

.imageback3 {
  background: url(images/toa-heftiba-DQKerTsQwi0-unsplash.jpg) center/cover;
  width: 100%;
  height: 260px;
}

.imageback4 {
  background: url(images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg) center/cover;
  width: 100%;
  height: 260px;
}

header a.btn {
  position: absolute;
  top: 26px;
  left: 20px;
  color: black;
}

header a.btn i {
  font-size: larger;
}

.maincontent {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  margin-top: -40px;
}

.maincontent h4 {
  margin: 30px 0;
}

.titremenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 0;
  position: relative;
}

.titremenu h1 {
  font-family: "Shrikhand", sans-serif;
}

.titremenu i {
  color: black;
  font-size: 24px;
}

.titremenu .like {
  position: absolute;
  right: 20px;
}

.titremenu .like .fas {
  visibility: hidden;
  color: #aa70f1;
  left: -27px;
  top: -1px;
  font-size: 22px;
}

/*******  Barre verte sous les titres Entrées , Plats , Desserts *** ****/
.opening, .miding, .ending {
  position: relative;
}

.opening h4:after, .miding h4:after, .ending h4:after {
  content: "";
  width: 40px;
  height: 2px;
  background: #99E2D0;
  position: absolute;
  top: 55px;
  left: 0px;
}

/***************** menu 2 avec 4 div au lieu de 3 **********/
.openingspace .foodlist {
  height: 300px;
}

.foodlist {
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.food {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 6px 6px 15px lightgrey;
          box-shadow: 6px 6px 15px lightgrey;
  color: black;
  -webkit-animation: food-loading 1.5s both;
          animation: food-loading 1.5s both;
  overflow: hidden;
}

.food p {
  font-size: 15px;
}

/* ******************  Animation box verte avec fleche **************/
.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #99E2D0;
}

.box .check {
  margin: auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.box .check .fa-check-circle {
  color: white;
  font-size: 1.3em;
}

.food:hover .box {
  width: 60px;
}

.food:hover .box .check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 4em;
  padding: 10px;
}

.text p,
.text h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.price {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  padding-left: 22px;
  width: 60px;
}

.order {
  margin-top: 40px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order .btn {
  text-decoration: none;
  background: linear-gradient(175deg, #ff93e1 0%, #a16be0 100%);
  border-radius: 30px;
  width: 220px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-shadow: 3px 5px 6px #dadada;
          box-shadow: 3px 5px 6px #dadada;
}

.order .btn:hover {
  background: #ff83dd;
  -webkit-box-shadow: 6px 8px 8px #b4b4b4;
          box-shadow: 6px 8px 8px #b4b4b4;
}

/* ***************************  ANIMATIONS *********************/
/* ******** Arrivé des repas en décalé  **********/
@-webkit-keyframes food-loading {
  0% {
    color: white;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: black;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes food-loading {
  0% {
    color: white;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: black;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.food2 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.food3 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.food4 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.food5 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.food6 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.food7 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.food8 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.food9 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.food10 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

/**************** Heart fill ***********/
.like {
  position: absolute;
  right: 20px;
  bottom: 35px;
}

.fa-heart {
  font-size: 22px;
}

.far {
  position: relative;
  left: 30px;
}

.far:hover {
  visibility: hidden;
}

.like .fas {
  visibility: hidden;
  color: #9356DC;
  position: relative;
  left: 4px;
}

.like:hover .fas {
  visibility: visible;
  -webkit-animation: fadeIn ease 3s;
          animation: fadeIn ease 3s;
}

.like-menu {
  top: 40px;
}

.like-menu i {
  left: 0px;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*******************    spinner     *************/
.loader {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  display: -ms-grid;
  display: grid;
  place-items: center center;
  z-index: 10;
  margin: auto;
  pointer-events: none;
  -webkit-animation: loading 3s linear both;
          animation: loading 3s linear both;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 10px solid black;
  border-left-color: #9356DC;
  border-right-color: #99E2D0;
  border-radius: 100%;
  margin: auto;
  -webkit-animation: spin 3s linear both;
          animation: spin 3s linear both;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/**************************** responsive ******************/
.image-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opening, .miding, .ending {
  width: 400px;
}

@media screen and (max-width: 375px) {
  .section-3 a {
    width: 100%;
  }
  .section-3 figure {
    width: 100%;
  }
  .section-3 img {
    width: 100%;
  }
  .section-2 .fonction a {
    width: 280px;
  }
}

@media screen and (min-width: 320px) {
  .image-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 770px) {
  .image-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-3 .figure {
    width: 335px;
  }
  .section-3 {
    height: 800px;
  }
  footer {
    height: 135px;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 50px;
  }
}

@media screen and (min-width: 1040px) {
  .image-menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-3 a {
    margin: 20px;
  }
  .section-3 figure {
    width: 450px;
  }
  .section-3 img {
    width: 100%;
  }
}

@media screen and (min-width: 1420px) {
  .section-1 .reserv {
    height: 200px;
  }
  .section-2 {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-2 h1 {
    margin: 0;
    padding-right: 50px;
  }
  .section-2 .fonction {
    width: 1400px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
  }
  .section-3 {
    height: 470px;
  }
  .section-3 a {
    margin: 0;
  }
  .section-3 figure {
    width: 335px;
  }
  .image-menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1650px) {
  .section-2 h1 {
    margin: 0;
    padding-right: 280px;
  }
  .section-2 .fonction {
    padding-right: 100px;
  }
}
/*# sourceMappingURL=style.css.map */